.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: #efefef;
}

:root {
  --primary-color: #a7f3d0;
  --dark-grey: #6b7280;
  --off-white: #f3f4f6;
  --text-color: #059669;
}

@media screen and (max-width: 500px) {
  .card-image {
    width: 100%;
  }
}

/* container */

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* navbar */

.navigation {
  background-color: var(--primary-color);
  color: black;
  padding-top: 1rem;
  padding: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.7rem;
  text-align: center;
}

.one {
  padding: 1rem;
  text-align: center;
}

.one img {
  max-width: 400px;
  padding: 1rem;
}

.one h2 {
  color: var(--text-color);
  font-style: italic;
  padding: 1rem;
  font-size: 1.2rem;
}

.two {
  background: #6ee7b7;
  min-height: 70vh;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.wrapper h2 {
  font-size: 1.2rem;
  color: rgb(37, 35, 35);
  margin: 1rem;
  padding: 1rem;
}

/* .frame {
  background-color: #f1faee;
  border-radius: 2rem;
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 1rem auto;
  opacity: 0.9;
} */

.place {
  background-color: #ffffff41;
}

.place::after {
  content: "";
  clear: both;
  display: table;
}

.place-name {
  color: red;
}

img {
  width: 48%;
  display: inline-block;
}

.card-image {
  float: left;
  width: 33.33%;
  padding: 5px;
}

div .place .card-image img {
  display: inline;
}

.card-info1 {
  color: black;
}

footer {
  padding-top: 1rem;
  background-color: black;
  text-align: center;
  padding-bottom: 0.5rem;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline;
  padding: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.a1 {
  color: #e1306c;
}

.a2 {
  color: #2867b2;
}
.a3 {
  color: #f6d55c;
}

.a4 {
  color: #26a7de;
}
